{% extends '@App/base.html.twig' %}

{% block body %}
    <div class="container bs-docs-container" >
        <div class="row">
            <div class="col-md-12">
                <div >
                    <h1>User calendars</h1>
                </div>

                <div class="clearfix">
                    <div class="pull-left">
                        <a class="btn btn-primary" href="{{ googleProviderUrl }}" >Add new google account</a>
                        {#<a class="btn btn-primary" href="{{ path('add_event')}}" >Add new event</a>#}
                    </div>
                    <div class="pull-right">
                        <a class="btn btn-warning" href="{{ path('security.logout')}}" >Logout</a>
                    </div>
                </div>

                <hr/>
                {% if accounts|length > 0 %}
                    <div class="col-md-5">
                        <form action="{{ path('add_event') }}" method="post">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Account</label>
                                <select class="form-control" name="accountId">
                                    {% for account in accounts %}
                                        <option value="{{ account.id }}">{{ account.name }}</option>
                                    {% endfor  %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Message</label>
                                <textarea placeholder="Appointment at Somewhere on June 3rd 10am-10:25am" class="form-control" name="message" rows="3"></textarea>
                            </div>

                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>

                    <div class="col-md-12">
                        <h2>Account List</h2>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Events</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for account in accounts %}
                                <tr>
                                    <th>{{ account.id }}</th>
                                    <th>{{ account.name }}</th>
                                    <th>
                                        <ul>
                                            {% for event in account.events %}
                                                <li>{{ event.summary }}:{{ event.summary }}</li>
                                            {% endfor %}
                                        </ul>
                                    </th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div class="col-md-9">
                        <div class="bs-example bs-example-bg-classes">
                            <p class="bg-warning" style="padding: 15px;">You do not have accounts eat</p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
